@import "tailwindcss";

body {
    font-family: "Lora", serif;
    line-height: 1.6;
    letter-spacing: 0.2px;
}

.font-body {
    font-family: "Lora", serif;
    font-weight: 400;
}

.font-bold {
    font-family: "Lora", serif;
    font-weight: 600;
}

.font-soft {
    font-family: "Lora", serif;
    font-weight: 300;
    opacity: 0.85;
}

input[type="date"] {
    width: 100%;
    min-width: 0;
    max-width: 100%;
    box-sizing: border-box;
}